{{ define "main" }}
<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ .Title }}</h1>
                    <hr>
                    {{ .Content }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-horizontal" data-toggle="validator" role="form" action="/api/booking" method="POST">
                        
                        <legend> Cat's Details </legend>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Name/s  <span>(required)</span> </label>
                            <span class="col-md-8 CatsNames">
                                <input type="text" name="CatsNames" value="" class="form-control" required="true">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Age/s  <span>(required)</span> </label>
                            <span class="col-md-8 CatsAges">
                                <input type="text" name="CatsAges" value="" class="form-control" required="true">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Sex/s  <span>(required)</span> </label>
                            <span class="col-md-8 CatsSexs">
                                <input type="text" name="CatsSexs" value="" class="form-control" required="true">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's microchip number/s</label>
                            <span class="col-md-8 CatsMC">
                                <input type="text" name="CatsMC" value="" class="form-control wpcf7-text">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Colour/s  <span>(required)</span> </label>
                            <span class="col-md-8 CatsColours">
                                <input type="text" name="CatsColours" value="" class="form-control" required="true">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Preferred Food  </label>
                            <span class="col-md-8 CatsFood">
                                <textarea name="CatsFood" cols="40" rows="2" class="form-control"></textarea>
                            </span>
                        </div>
                        
                        <legend> Dates of Stay </legend>
                        <div class="form-group">
                            <label class="col-md-4">Arrival Date  <span>(required)</span> </label>
                            <span class="col-md-4 ArrivalDate">
                                <input type="text" name="ArrivalDate" value="" maxlength="10" class="form-control narrow" required="true" placeholder="31/01/2012">
                            </span>
                            <span class="col-md-4 TimeOfDayA">
                                <input type="text" name="TimeOfDayA" value="" class="form-control narrow" required="true" placeholder="10:00 AM">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Departure Date  <span>(required)</span> </label>
                            <span class="col-md-4 DepartureDate">
                                <input type="text" name="DepartureDate" value="" maxlength="10" class="form-control narrow" required="true" placeholder="31/01/2012">
                            </span>
                            <span class="col-md-4 TimeOfDayD">
                                <input type="text" name="TimeOfDayD" value="" class="form-control narrow" required="true" placeholder="10:00 AM">
                            </span>
                        </div>

                        <div class="alert alert-info">
                            <p>All days booked must be paid for. <a href="terms-conditions">See terms &amp; conditions</a></p>
                        </div>
                        
                        <legend> Your Details </legend>
                        <div class="form-group">
                            <label class="col-md-4">Your Name <span>(required)</span> </label>
                            <span class="col-md-8 Name">
                                <input type="text" name="Name" value="" class="form-control" required="true">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Address <span>(required)</span> </label>
                            <span class="col-md-8 Address">
                                <textarea name="Address" rows="2" class="form-control wpcf7-validates-as-required" required="true"></textarea>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Post Code <span>(required)</span> </label>
                            <span class="col-md-8 Postcode">
                                <input type="text" name="Postcode" value="" class="form-control" required="true">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Email <span>(required)</span> </label>
                            <span class="col-md-8 Email">
                                <input type="email" name="Email" value="" class="form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" required="true">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Contact Number <span>(required)</span> </label>
                            <span class="col-md-8 Number">
                                <input type="text" name="Number" value="" class="form-control" required="true">
                            </span>
                        </div>
                        
                        <legend> Emergency Contact </legend>
                        <div class="form-group">
                            <label class="col-md-4">Their Name <span>(required)</span> </label>
                            <span class="col-md-8 EmergencyName">
                                <input type="text" name="EmergencyName" value="" class="form-control" required="true">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Their Contact Number <span>(required)</span> </label>
                            <span class="col-md-8 EmergencyNumber">
                                <input type="text" name="EmergencyNumber" value="" class="form-control" required="true">
                            </span>
                        </div>
                        <div class="alert alert-info">
                            <p>Please inform you emergency contact that you are away.</p>
                        </div>
                        
                        <legend> Vet's Details </legend>
                        <div class="form-group">
                            <label class="col-md-4">Their Name <span>(required)</span> </label>
                            <span class="col-md-8 VetName">
                                <input type="text" name="VetName" value="" class="form-control" required="true">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Their Contact Number <span>(required)</span> </label>
                            <span class="col-md-8 VetNumber">
                                <input type="text" name="VetNumber" value="" class="form-control" required="true">
                            </span>
                        </div>
                        
                        <legend> Medical Requirements</legend>
                        <div class="form-group">
                            <label class="col-md-4">Known Allergies </label>
                            <span class="col-md-8 KnowAllergies">
                                <textarea name="KnowAllergies" cols="40" rows="2" class="form-control wide"></textarea>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Name or type of medication, dosage amount and regularity, availability of further supply if necessary</label>
                            <span class="col-md-8 Meds">
                                <textarea name="Meds" cols="40" rows="2" class="form-control wide"></textarea>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Other current or recent medical treatment/illness which may be relevant</label>
                            <span class="col-md-8 Relevant">
                                <textarea name="Relevant" cols="40" rows="2" class="form-control wide"></textarea>
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Date of Last Vaccination </label>
                            <span class="col-md-8 VaccinationDate">
                                <input type="text" name="VaccinationDate" value="" maxlength="10" class="form-control" required="true" placeholder="31/01/2012">
                            </span>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">If you are booking in two or more cats, are they sharing a pen </label>
                            <span class="col-md-4 Sharing">
                                <span class="radio-inline">
                                    <input type="radio" name="Sharing" value="1">Yes
                                </span>
                            </span>
                            <span class="col-md-4 Sharing">
                                <span class="radio-inline">
                                    <input type="radio" name="Sharing" value="0">No
                                </span>
                            </span>
                        </div>
                        
                        <div class="alert alert-info">
                            <p>Please bring your vaccination card with you - your cat will not be admitted with out this being checked. Sorry we cannot accept un-neutered tom cats. </p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-8">I have read and agree to <strong><a href="terms-conditions" target="blank">terms and conditions</a></strong> and <strong><a href="privacy-policy" target="blank">privacy policy</a></strong></label>
                            <span class="col-md-4 TC">
                                <span class="checkbox">
                                    <input type="checkbox" name="TC" value="1">
                                </span>
                            </span>
                        </div>
                        
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="submit" name="submit" class="btn btn-primary btn-block">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{{ end }}
