{{ define "main" }}
<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ .Title }}</h1>
                    <hr>
                    {{ .Content }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-horizontal" id="booking-form" role="form" action="/api/booking" method="POST">
                        
                        <legend> Cat's Details </legend>
                        <div class="form-group">
                            <label class="col-md-4">How many pens?</label>
                            <div class="col-md-8 Pens">
                                <select class="form-control" name="Pens">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Name/s  <span>(required)</span> </label>
                            <div class="col-md-8 CatsNames">
                                <input type="text" name="CatsNames" value="" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Age/s  <span>(required)</span> </label>
                            <div class="col-md-8 CatsAges">
                                <input type="text" name="CatsAges" value="" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Sex/s  <span>(required)</span> </label>
                            <div class="col-md-8 CatsSexs">
                                <input type="text" name="CatsSexs" value="" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's microchip number/s</label>
                            <div class="col-md-8 CatsMC">
                                <input type="text" name="CatsMC" value="" class="form-control wpcf7-text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Colour/s  <span>(required)</span> </label>
                            <div class="col-md-8 CatsColours">
                                <input type="text" name="CatsColours" value="" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Cat's Preferred Food  </label>
                            <div class="col-md-8 CatsFood">
                                <textarea name="CatsFood" cols="40" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Are your Cat(s) insured?</label>
                            <div class="col-md-8 Insured">
                                <div class="checkbox">
                                    <input type="checkbox" name="Insured" value="">
                                </div>
                            </div>
                        </div>
                        
                        <legend> Dates of Stay </legend>
                        <div class="form-group">
                            <label class="col-md-4">Arrival Date  <span>(required)</span> </label>
                            <div class="col-md-4">
                                <div class='input-group date' id='ArrivalDate'>
                                    <input type='text' name="ArrivalDate" class="form-control" required="true" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 TimeOfDayA">
                                <div class='input-group date' id='TimeOfDayA'>
                                    <input type='text' name="TimeOfDayA" class="form-control" required="true" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Departure Date  <span>(required)</span> </label>
                            <div class="col-md-4 DepartureDate">
                                <div class='input-group date' id='DepartureDate'>
                                    <input type='text' name="DepartureDate" class="form-control" required="true" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 TimeOfDayD">
                                <div class='input-group date' id='TimeOfDayD'>
                                    <input type='text' name="TimeOfDayD" class="form-control" required="true" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-info">
                            <p>All days booked must be paid for. <a href="/terms-conditions">See terms &amp; conditions</a></p>
                            <p>Make sure we are open at the times you select. <a href="/contact-us#opening-times">See opening times</a></p>
                            <p>If you book to collect before 10am you do not pay for that day. After 10am we charge for the whole day.</p>
                        </div>
                        
                        <legend> Your Details </legend>
                        <div class="form-group">
                            <label class="col-md-4">Your Name <span>(required)</span> </label>
                            <div class="col-md-8 Name">
                                <input type="text" name="Name" value="" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Address <span>(required)</span> </label>
                            <div class="col-md-8 Address">
                                <textarea name="Address" rows="2" class="form-control wpcf7-validates-as-required" required="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Post Code <span>(required)</span> </label>
                            <div class="col-md-8 Postcode">
                                <input type="text" name="Postcode" value="" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Email <span>(required)</span> </label>
                            <div class="col-md-8 Email">
                                <input type="email" name="Email" value="" class="form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" required="true">
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <label class="col-md-4">Email Confirmation <span>(required)</span> </label>
                            <div class="col-md-8 Email">
                                <input type="email" name="EmailCheck" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Contact Number <span>(required)</span> </label>
                            <div class="col-md-8 Number">
                                <input type="text" name="Number" value="" class="form-control" required="true">
                            </div>
                        </div>
                        
                        <legend> Emergency Contact </legend>
                        <div class="form-group">
                            <label class="col-md-4">Their Name <span>(required)</span> </label>
                            <div class="col-md-8 EmergencyName">
                                <input type="text" name="EmergencyName" value="" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Their Contact Number <span>(required)</span> </label>
                            <div class="col-md-8 EmergencyNumber">
                                <input type="text" name="EmergencyNumber" value="" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="alert alert-info">
                            <p>Please inform you emergency contact that you are away.</p>
                        </div>
                        
                        <legend> Vet's Details </legend>
                        <div class="form-group">
                            <label class="col-md-4">Their Name <span>(required)</span> </label>
                            <div class="col-md-8 VetName">
                                <input type="text" name="VetName" value="" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Their Contact Number <span>(required)</span> </label>
                            <div class="col-md-8 VetNumber">
                                <input type="text" name="VetNumber" value="" class="form-control" required="true">
                            </div>
                        </div>
                        
                        <legend> Medical Requirements</legend>
                        <div class="form-group">
                            <label class="col-md-4">Known Allergies </label>
                            <div class="col-md-8 KnowAllergies">
                                <textarea name="KnowAllergies" cols="40" rows="2" class="form-control wide"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Name or type of medication, dosage amount and regularity, availability of further supply if necessary</label>
                            <div class="col-md-8 Meds">
                                <textarea name="Meds" cols="40" rows="2" class="form-control wide"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Other current or recent medical treatment/illness which may be relevant</label>
                            <div class="col-md-8 Relevant">
                                <textarea name="Relevant" cols="40" rows="2" class="form-control wide"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Date of Last Vaccination   <span>(required)</span> </label>
                            <div class="col-md-8 VaccinationDate">
                                <div class='input-group date' id='VaccinationDate'>
                                    <input type='text' name="VaccinationDate" class="form-control" required="true" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Date of Last Flea Treatment   <span>(required)</span> </label>
                            <div class="col-md-8 FleaDate">
                                <div class='input-group date' id='FleaDate'>
                                    <input type='text' name="FleaDate" class="form-control" required="true" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Date of Last Worming   <span>(required)</span> </label>
                            <div class="col-md-8 WormingDate">
                                <div class='input-group date' id='WormingDate'>
                                    <input type='text' name="WormingDate" class="form-control" required="true" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="alert alert-info">
                            <p>Please bring your vaccination card with you - your cat will not be admitted with out this being checked. Sorry we cannot accept un-neutered tom cats. </p>
                        </div>
                        <div class="form-group">
                            <label class="col-md-8">I have read and agree to <strong><a href="terms-conditions" target="blank">terms and conditions</a></strong> and <strong><a href="privacy-policy" target="blank">privacy policy</a></strong></label>
                            <div class="col-md-4 TC">
                                <div class="checkbox">
                                    <input type="checkbox" name="TC" value="1" required data-error="You must agree to the terms & conditions.">
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <input type="hidden" id="Token" name="Token">
                        
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="submitBtn" name="submitBtn" class="btn btn-primary btn-block">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{{ end }}


{{ define "extra_scripts" }}
<script type="text/javascript">
    $(function () {
        $('#ArrivalDate').datetimepicker({allowInputToggle: true, minDate: moment(), format: 'DD/MM/YYYY'});
        $('#ArrivalDate').on("dp.change", function (e) {
            $('#DepartureDate').data("DateTimePicker").minDate(e.date);
        });
        $('#TimeOfDayA').datetimepicker({allowInputToggle: true, format: 'HH:mm', stepping: 15});

        $('#DepartureDate').datetimepicker({allowInputToggle: true, format: 'DD/MM/YYYY', useCurrent: false});
        $('#DepartureDate').on("dp.change", function (e) {
            $('#ArrivalDate').data("DateTimePicker").maxDate(e.date);
        });
        $('#TimeOfDayD').datetimepicker({allowInputToggle: true, format: 'HH:mm', stepping: 15});

        $('#VaccinationDate').datetimepicker({allowInputToggle: true, format: 'DD/MM/YYYY', viewMode: 'years'});
        $('#FleaDate').datetimepicker({allowInputToggle: true, format: 'DD/MM/YYYY', viewMode: 'years'});
        $('#WormingDate').datetimepicker({allowInputToggle: true, format: 'DD/MM/YYYY', viewMode: 'years'});
    });
    $('#booking-form').validator().on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            e.preventDefault();
            grecaptcha.ready(function() {
                grecaptcha.execute('6LduNcIZAAAAAMDI8V6EwSAEXz1lMOAQUn6OO_pT', {action: 'submit'}).then(function(token) {
                    pens = parseInt($(".Pens select option:selected").val(), 10);
                    days = Math.round((moment($("#DepartureDate input").val(), "DD-MM-YYYY") - moment($("#ArrivalDate input").val(), "DD-MM-YYYY")) / (1000*60*60*24));
                    gtag('event', 'BookingForm', { 'event_category': 'FormSubmit', 'value': pens * days * 11});
                    $("#Token").val(token);
                    document.getElementById("booking-form").submit();
                });
            });
        }
    });
</script>
{{ end }}


{{ define "template" }}
themes/highheath/layouts/book-now/list.html
{{ end }}
