version: '3.7'
services:
  highheath:
    image: highheath
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./credentials.json:/credentials.json
      - ./token.dev.json:/token.dev.json
      - ./private-key.pem:/private-key.pem
    environment:
      TOKEN_FILE: /token.dev.json
      RECAPTCHA_SECRET: ${RECAPTCHA_SECRET} # from .env
      OTEL_EXPORTER_OTLP_ENDPOINT: http://lgtm:4318

  lgtm:
    image: docker.io/grafana/otel-lgtm:latest
    ports:
      - "3000:3000"
      - "4317:4317"
      - "4318:4318"
    volumes:
      # - $PWD/container/grafana:/data/grafana
      # - $PWD/container/prometheus:/data/prometheus
      # - $PWD/container/loki:/loki
      - /data/grafana
      - /data/prometheus
      - /loki
    environment:
      - GF_PATHS_DATA=/data/grafana
