---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
      - image: "registry.smirlwebs.com/smirl/{{ .Release.Name }}:{{ .Values.version }}"
        imagePullPolicy: Always
        name: {{ .Release.Name }}
        ports:
        - name: http
          containerPort: {{ .Values.httpPort }}
        volumeMounts:
        - mountPath: /credentials.json
          subPath: credentials.json
          name: gmail
          readOnly: true
        - mountPath: /token.json
          subPath: token.json
          name: gmail
          readOnly: true
      imagePullSecrets:
      - name: registry.smirlwebs.com
      volumes:
      - name: gmail
        secret:
          secretName: gmail
