{{ define "main" }}
<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ .Title }}</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ .Content }}
                </div>
                <div class="col-sm-6">
                    <form class="form-horizontal" id="contact-form" role="form" action="/api/contact" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="name">Name</label>
                                <div class="col-md-9">
                                    <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="true">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="email">Email</label>
                                <div class="col-md-9">
                                    <input id="email" name="email" type="email" placeholder="" class="form-control input-md" required="true">
                                </div>
                            </div>

                            <div class="form-group hidden">
                                <label class="col-md-4">Email Confirmation <span>(required)</span> </label>
                                <div class="col-md-8 Email">
                                    <input type="email" name="EmailCheck" value="" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="message">Message</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="message" name="message" data-minlength="5" rows="5" required="true"></textarea>
                                </div>
                            </div>

                            <input type="hidden" id="Token" name="Token">

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="submit"></label>
                                <div class="col-md-9">
                                    <button id="submitBtn" name="submitBtn" class="btn btn-primary btn-block">Send</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2 id="opening-times">When we are open</h2>
                    <img src="{{ `/img/times.png` | relURL }}" alt="Openning times. Monday to Friday: 8:00am-11:30am,4:00pm-5:30pm. Saturday: 8:00am-11:00am,2:00pm-4:00pm. Sunday & Bank Holidays: 10:00am-12:00am" class="img-responsive center-block">
                </div>
            </div>
            <div class="row">
                <h2 id="map">Where to find us</h2>
                <iframe style="width: 100%;" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=High+Heath+Farm+Cattery,+Withy+Hill+Road,+Sutton+Coldfield&amp;aq=0&amp;oq=high&amp;sll=55.941208,-3.205339&amp;sspn=0.163819,0.445976&amp;t=m&amp;ie=UTF8&amp;hq=High+Heath+Farm+Cattery,&amp;hnear=Withy+Hill+Rd,+B75+6HS,+United+Kingdom&amp;ll=52.576037,-1.784999&amp;spn=0.004434,0.016308&amp;z=16&amp;iwloc=&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" height="340"></iframe>
            </div>
        </div>
    </section>
{{ end }}

{{ define "extra_scripts" }}
<script type="text/javascript">
    $('#contact-form').validator().on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            e.preventDefault();
            grecaptcha.ready(function() {
                grecaptcha.execute('6LduNcIZAAAAAMDI8V6EwSAEXz1lMOAQUn6OO_pT', {action: 'submit'}).then(function(token) {
                    $("#Token").val(token);
                    document.getElementById("contact-form").submit();
                });
            });
        }
    });
</script>
{{ end }}
