/* 
blue - #3179D2
crea - #FCFBE6
 */

/*CORE*/
body {
	padding-top: 20px;
	padding-bottom: 20px;
	background: url(../img/mainBG1.png) #FCFBE6 no-repeat center top;
}
header .container, section .container, footer .container, nav .container {
	border: 6px solid #3179D2;
}
header .container {
	border-bottom: 0;
}
section .container, nav.container {
	border-top: 0;
	border-bottom: 0;
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer .container { 
	border-top: 0;
	height: 100px;
}

.navbar {
	border: none;
}

nav .border{
	background: #3179D2;
}

/* HELPERS*/
.a {
	cursor: pointer;
}
.border {
	/*border: 6px solid #3179d2;*/
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

/* OVERRIDES */
.input-group, .controls{ 
      margin-bottom: 10px;
}

.control-label{
	text-align: right;
}

textarea{
	width: 100%;
	height: 150px;
}

.asteriskField {
    display: none;
}

.help-block {
	display: none;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.close{
	padding-left: 10px;
}
/* SMIRLWEBS LOGO */
.smirlwebLarge, .smirlwebLarge a {
	font-family: 'Times New Roman', times-roman, georgia, serif;
	color: #333333;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 35px;
	line-height: 30px;
	letter-spacing: -2px;
	font-weight: bold;
}

.smirlwebSmall, .smirlwebSmall a {
	font-family: 'Gill Sans', Verdana;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #0074D9;
}