{{ define "main"}}
<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                        {{ .Content }}
                </div>
                <div class="col-sm-4 text-right">
                    {{- $img := resources.Get "/img/home1.jpg" }}
                    {{- $webp := $img.Resize "225x300 webp q80" }}
                    {{- $jpeg := $img.Resize "225x300 jpeg q80" }}
                    <picture style="margin: 0 auto;">
                        <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
                        <img src="{{ $jpeg.RelPermalink }}" style="width: 100%;">
                    </picture>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-push-4 top-spacer">
                    <p>
                        <small class="text-muted">note: we only board vaccinated cats. unfortunately we cannot board un-neutered toms aged over seven months old.</small>
                    </p>
                    <p class="text-right">
                        <small class="text-muted">MRS LYN STOKES</small>
                        <br>
                        <small class="text-muted">LN/000010188</small>
                        <br>
                        <small class="text-muted">Five Star Rated</small>
                    </p>
                </div>
                <div class="col-sm-4 col-sm-pull-8">
                    {{- $img := resources.Get "/img/home2.jpg" }}
                    {{- $webp := $img.Resize "300x200 webp q80" }}
                    {{- $jpeg := $img.Resize "300x200 jpeg q80" }}
                    <picture style="margin: 0 auto;">
                        <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
                        <img src="{{ $jpeg.RelPermalink }}" style="width: 100%;">
                    </picture>
                </div>
            </div>
        </div>
    </section>
{{ end }}



{{ define "template" }}
themes/highheath/layouts/index.html
{{ end }}
