{{ define "main"}}
<section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                        {{ .Content }}
                </div>
                <div class="col-sm-4">
                    <img src="{{ "/img/home1.jpg" | relURL }}" class="thumbnail" alt="" style="margin: 0 auto;">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-push-4 top-spacer">
                    <p>If you have any questions please feel free to <a href="/contact-us/">email or ring us</a>.</p>
                    <small class="text-muted">note: we only board vaccinated cats. unfortunately we cannot board un-neutered toms aged over seven months old.</small>
                </div>
                <div class="col-sm-4 col-sm-pull-8">
                    <img src="{{ "/img/home2.jpg" | relURL }}" class="thumbnail" alt="" style="margin: 0 auto;">
                </div>
            </div>
        </div>
    </section>
{{ end }}
