{{ define "main" }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ .Title }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ .Content }}
            </div>
            <div class="col-sm-6">
                <form class="form-horizontal" id="comment-form" role="form" action="/api/comment" method="POST">
                <fieldset>
                    <legend>Write a review</legend>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Name</label>  
                        <div class="col-md-9">
                            <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="email">Email</label>
                        <div class="col-md-9">
                            <input id="email" name="email" type="email" placeholder="" class="form-control input-md" required="true">
                        </div>
                    </div>

                    <div class="form-group hidden">
                        <label class="col-md-4">Email Confirmation <span>(required)</span> </label>
                        <div class="col-md-8 Email">
                            <input type="email" name="EmailCheck" value="" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="message">Message</label>
                        <div class="col-md-9">                     
                            <textarea class="form-control" id="message" name="message" data-minlength="5" rows="5" required="true"></textarea>
                        </div>
                    </div>
                    
                    <input type="hidden" id="Token" name="Token">

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="submit"></label>
                        <div class="col-md-9">
                            <button id="submitBtn" name="submitBtn" class="btn btn-primary btn-block">Send</button>
                        </div>
                    </div>
                </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            {{ $paginator := .Paginate .Pages 20 }}
            <div class="col-sm-12">
                <nav aria-label="Page navigation" class="text-center">
                    {{ template "_internal/pagination.html" . }}
                </nav>
            </div>
            <div class="col-sm-12">
                {{ range $paginator.Pages }}
                <div class="panel panel-default">
                    {{ if .Date }}
                    <div class="panel-heading">
                        <a href="{{ .RelPermalink }}"><strong>{{ .Params.author }}</strong></a>
                        <small class="pull-right">{{ .Date.Format "2 January 2006"  }}</small>
                    </div>
                    {{ end }}
                    <div class="panel-body">
                        {{ .Content }}
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="col-sm-12">
                <nav aria-label="Page navigation" class="text-center">
                    {{ template "_internal/pagination.html" . }}
                </nav>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ define "extra_scripts" }}
<script type="text/javascript">
    $('#comment-form').validator().on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            e.preventDefault();
            grecaptcha.ready(function() {
                grecaptcha.execute('6LduNcIZAAAAAMDI8V6EwSAEXz1lMOAQUn6OO_pT', {action: 'submit'}).then(function(token) {
                    $("#Token").val(token);
                    document.getElementById("comment-form").submit();
                });
            });
        }
    });
</script>
{{ end }}


{{ define "template" }}
themes/highheath/layouts/comments/list.html
{{ end }}
