/* 
blue - #3179D2
crea - #FCFBE6
 */

/*CORE*/
body {
	padding-top: 20px;
	padding-bottom: 20px;
	background: url(../img/mainBG1.png) #FCFBE6 no-repeat center top;
}
header .container, section .container, nav .container {
	border: 6px solid #3179D2;
}
header .container {
	border-bottom: 0;
}
section .container, nav.container {
	border-top: 0;
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer .container { 
	padding-top: 30px;
	font-size:  smaller;
}

.navbar {
	border: none;
}

nav .border{
	background: #3179D2;
}

/* Gallery */

#gallery .gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#gallery .gallery-container picture {
	flex: 1 0 auto;
	margin: 5px;
}

#gallery .gallery-container picture img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	max-width: 100%;
}

/* HELPERS*/
.a {
	cursor: pointer;
}
.border {
	/*border: 6px solid #3179d2;*/
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

.top-spacer {
	margin-top: 20px;
}

/* OVERRIDES */

.grecaptcha-badge { visibility: hidden; }

.pagination>li>a,.pagination>li>span {
	color: white;
	border: none;
}

.pagination>li.active>a {
	color: #d9534f;
}

.input-group, .controls{ 
      margin-bottom: 10px;
}

.control-label{
	text-align: right;
}

textarea{
	width: 100%;
	height: 150px;
}

.asteriskField {
    display: none;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.close{
	padding-left: 10px;
}

input[type=checkbox]
{
	width: 20px;
	height: 20px;
}

label span {
	font-size: smaller;
	color: #999999;
}

/* Opening time table */
table.table {
	color: #444444;
}
table.table .opening-times-open {
	background-color: #A3D06E;
}
table.table .opening-times-closed {
	background-color: #F19386;
}

/* SMIRLWEBS LOGO */
.smirlwebLarge, .smirlwebLarge a {
	font-family: 'Times New Roman', times-roman, georgia, serif;
	color: #333333;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 35px;
	line-height: 30px;
	letter-spacing: -2px;
	font-weight: bold;
}

.smirlwebSmall, .smirlwebSmall a {
	font-family: 'Gill Sans', Verdana;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #0074D9;
}