<footer>
    <div class="container">
        <div class="row" style="padding-top: 20px;">
            <div class="col-sm-6">
                {{ range .Site.Menus.footer }}
                <a href="{{ .URL }}">{{ .Name }}</a><br>
                {{ end }}
            </div>
            <div class="col-sm-6" style="padding-top: 10px;">
                <div style="padding: 6px 0pt 0pt 5px; float: right;" class="smirlwebSmall">
                    <a href="http://www.smirlwebs.com/">web<br>design</a>
                </div>
                <div style="float: right;" class="smirlwebLarge">
                    <a href="http://www.smirlwebs.com/">Smirlwebs</a>
                </div>
            </div>
        </div>
    </div>
</footer>
