<div id="scripts">
    <script src="{{ `/js/jquery-1.10.2.min.js` | relURL }}"></script>
    <!-- <script src="{{ "/js/bootstrap.min.js" | relURL }}"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    {{- block "extra_scripts" . }}{{- end }}
</div>
