<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- if .Site.Params.debug -}}
        <nav class="navbar navbar-expand-lg">
            <p class="navbar-brand"><pre>
                {{- block "template" . }}baseof{{- end }}
            </pre></p>
        </nav>
        {{- end -}}
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
        {{- block "extra_scripts" . }}{{- end }}
    </body>
</html>
