name: Master

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: ^1.25

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          # Works with v1.61.0, setting to latest to get future issues
          version: latest
          args: --timeout 3m

      - name: Test
        run: go test -v -covermode=atomic -coverprofile=coverage.out -race ./...

      - name: Send coverage
        uses: shogo82148/actions-goveralls@v1.10.0
        with:
          path-to-profile: coverage.out
